.tooltip {
    &::before {
        content: attr(data-tip);
        display: inline-block;
        position: absolute;
        bottom: 0;
        background: #000;
        color: #FFF;
        padding: .5em;
        box-shadow: rgba(0, 0, 0, .2) 0 0 12px;
        border-radius: 5px;
        opacity: 0;
        margin-bottom: .5em;
        left: 50%;
        transform: translateX(-50%);
        max-width: 200%;
        text-overflow: ellipsis;
        transition: opacity .2s ease-in-out, bottom .5s ease-in-out;
        overflow: hidden;
        pointer-events: none;
        font-size: medium;
        z-index: 5;
        white-space: nowrap;
    }

    &:focus::before {
        outline: 0;
        outline: transparent;
    }

    &:hover::before {
        transition: opacity .5s ease-in-out, bottom .2s ease-in-out;
        transition-delay: 1s;
        opacity: .95;
        bottom: 100%;
    }
}

@media (hover: none) { // Match with touch devices
    .tooltip:hover::before { // Avoid tooltips because of stickyness on touch devices
        opacity: 0;
        bottom: 0;
    }
}

